<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.southsidehealth.Mapper"
        versionCode="15" 
        version   = "3.1.0">

    <!-- versionCode is optional and Android only -->

    <name>WS Mapper Dev Version</name>

    <description>
        Tool for SSH Community Mapping 
    </description>

    <author href="http://www.uchicago.edu" email="webservices@uchicago.edu">
        Naren Hazareesingh, Eugene Sadhu
    </author>
	<preference name="orientation" value="default" />
	<gap:splash src="splash.png" />
</widget>